* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --brown: rgb(68, 16, 16);
}

.navbar {
    background-color: var(--brown);
}

.nav-item {
    transition: all 0.1s ease;
    margin-left: 10px;
    color: black;
}



.nav-item:hover {
    border-bottom: 1px solid white;
}

/* hero */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bc3.png');
    /* background-image: url("./images/bc3.png"); */
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-attachment: fixed;
    color: white;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero button {
    width: 40%;
    height: 15%;
    border-radius: 10px;
    font-weight: 600;
}

.hero_box {
    height: 60%;
    width: 40%;
    /* border: 1px solid white; */
    position: relative;
    top: 20%;
    left: 5%;

}

@media(width<900px) {

    .hero_box {
        width: 60%;
    }

    .hero {
        background-position: right;
    }

    .hero button {
        width: 40%;
        
        border-radius: 10px;
        font-weight: 600;
    }

    .hero p {
        font-size: 1rem;
    }

}

@media(width<600px){

    .hero h1{
        font-size: 1.5rem;
    }

    .hero p{
        font-size: 0.7rem;
    }
    .hero_box {
        width: 90%;
        height: 70%;
        top: 5%;
    }
}


/* about section start */
#about{
    width: 100%;
    height: 100vh;
}

#about .container{
    padding-top: 70px;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 5rem;
    font-weight: bold;
}

.heading span{
    color: #b2744c;
}

#about.card {
    border-radius: 50%;
    background: transparent;
   
}

#about.card img{
    border-radius: 10px;
   
}

#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    transition: all 1s ease;
    font-weight: 700;
    letter-spacing: 2px;
}

#about-btn:hover{
    background-color: #b2744c;
    color: aliceblue;
    /* border: 2px solid brown; */
}

@media screen and (max-width:982px){
    #about p{
        font-size: 10px;
    }
}

@media screen and (max-width: 766px){
    #about p{
        font-size: 15px;
    }

    #about{
        height: 120vh;
    }
}
/* about section end */

/* top card start */

#top-cards{
    width: 100%;
    height: 60vh;
    background: #f7f5f2;
    margin-top: 100px;
}

.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.heading2 span{
    color: #b2744c;
}

#top-cards .container{
    margin-top: 30px;
}

#top-cards.card{
    border-radius: 10px;
 
}

#top-cards .card img{
    border-radius: 10px;
    transition: all 0.5s ease;    
    cursor: pointer;
}

#top-cards .card:hover img{
    transform: translateY(-20px);
}

@media screen and (max-width:990px){
    #top-cards{
        margin-top: 150px;
    }
}

@media screen and (max-width:765px){
    #top-cards{
        margin-top: 300px;
    }
}
@media screen and (max-width:365px){
    #top-cards{
        margin-top: 500px;
    }
}
/* top card end */

/* menu start */

#menu{
    width: 100%;
}

.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}

#container2{
    margin-top: 20px;
}

#menu .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.star i{
    color: #b2744c;
}

#menu h3{
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 25px;
}

#menu p{
    font-size: 16px;
    color: #b2744c;
    padding-top: 10px;
}

#menu p span{
    float: right;
    cursor: pointer;
}

@media screen and (max-width:768px){
    #menu{
        margin-top: 900px;
    }
}

@media screen and (width<425px){
    #menu{
        margin-top: 600px;
    }
}
/* menu end */


.hero2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/coffee_background.jpg');
    /* background-image: url("./images/bc3.png"); */
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-attachment: fixed;
    color: white;
}

.hero2 h1 {
    font-size: 2.5rem;
}

.hero2 button {
    width: 40%;
    height: 15%;
    border-radius: 10px;
    font-weight: 600;
}

.hero_box2 {
    height: 60%;
    width: 40%;
    /* border: 1px solid white; */
    position: relative;
    top: 20%;
    left: 5%;

}

/* product start */

#product{
    width:  100%
}

.heading4{
    text-align: center;
    color: #b2744c;
    font-size: 30px;
    padding-top: 200px;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}

#container3{
    margin-top: 30px;
}

#product h3{
    text-align: center;
    color: #b2744c;
    font-size: 23px;
}

#product p{
    color: #b2744c;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}

#product .card{
    transition: all 1s ease;
    cursor: pointer;
    border: none;
}

#product .card:hover{
    box-shadow: 0px 0px 10px 10px #ccc;

}

/* product end */

/* our gallery start */
#gallery{
    width: 100%;
}

.heading5{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-weight: bold;
    font-size: 3rem;
}

#gallery .card{
    cursor: pointer;
}

#gallery .heading5 span{
    color: #b2744c;
}


/* our gallery end */

/* contact start */
#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

#contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}

.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}

.heading6 span{
    color: #b2744c;
}

#contact p{
    font-weight: bold;
    font-size: 15px;
    color: black;
}

#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}

#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 36px;
    cursor:pointer;
}

#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}

#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}

@media screen and (width<766px){
    #contact .container{
        background: white;
    }

    #col{
        width: 100%;
        background: #b2744c;
    }

    #contact{
        height: 150vh;
    }

}

@media screen and (width<400px){
    #contact input{
        width: 250px;
    }
}
/* contact end */

/* blog start */

#blogs{
    width: 100%;
}

#blogs .heading7{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#blogs .heading7 span{
    color: #b2744c;
}

#blogs .container{
    margin-top: 60px;
}

#blogs h5{
    color: #b2744c;
}

#blog-btn{
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background: #b2744c;
    cursor: pointer;
}

/* blog end */

/* footer start */
#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
}

.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

#footer .social-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}

.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#credits a span{
    color: black;
}

.copyright span{
    color: black;
}

html{
    scroll-behavior: smooth;
}

.arrow{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
}
/* footer end */